@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif; /* Open Sans'ı burada kullanın */
  font-size: 16px; /* Temel yazı boyutu */
  line-height: 1.5; /* Satır yüksekliği */
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif; 
}

h1 {
  font-size: 2rem; /* Başlık boyutu */
  font-weight: 700; /* Kalın yazı */
}

h2 {
  font-size: 1.5rem; /* İkinci başlık boyutu */
  font-weight: 600; /* Orta kalınlık */
}
